%h1 Convite Axurance Sistema de apoio para Garantia da Qualidade
%p
  Prezado,
  %br
  Você está recebendo um convite por 
  = @invite.sender.nome
  para participar do Axurance - Sistema de Garantia da Qualidade
%p
  link para se registrar e participar da sua empresa no Axurance:
  = @link_registro
