@import "bootstrap-variables.scss";
@import "bootstrap-sprockets.scss";
@import "bootstrap.scss";


.navbar-inverse {
  background-color: #004d40 ;
  border-color: #26a69a;
}

.navbar-inverse .navbar-nav > li > a {
  color: #e3e3e3;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #26a69a;
}

.navbar-inverse .navbar-nav > li > a:hover, a:active {
  background-color: #26a69a;
}

select {
  color: #0091ea;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  height: 50px;
}

h1, h2,  .h1 {
  font-size: 36px;
  color: #26a69a;
  text-align: center;
}

.btn-default {
    color: #fff;
    background-color: #0091ea;
    border: none;
}

.btn-default:hover{
  background-color: #01579b;
  color: #fff;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 100%;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

table td {
  color: #424242;
}

ul, ol {
  list-style-type: none;
}